/* .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05); 
    z-index: 9999;
  }
  
  .loading-image {
    width: 40%;
    animation: pulse 2s linear infinite; 
  }
  
  @keyframes pulse {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0.3; 
    }
  } */